
#title_container {
    text-align:center;
    background-color: #DCDCDC;
  }
  
  #name_title_alumno {
    text-align:center;
    font-style: oblique;
    padding-left: 4%;
    font-size: 70%;
  }
  
  body{
    background-color: #DCDCDC;
  }