<form id="add_contact">
	<fieldset>
		<!-- Text input  NOMBRE-->
		<label for='firstName'>First Name</label>
		<input id='firstName' name='firstname' type='text'>

		<!-- Text input APELLIDO-->
		<label for='lastName'>Last Name</label>
		<input id='lastName' name='lastName' type='text'>

		<!-- Text input TELEFONO-->
		<label for='phoneNumber'>Phone Number</label>
		<input id='phoneNumber' name='phoneNumber' type='tel'>
	</fieldset>

	<button id = "button_contact" (click)="saveNewContact()">Save New Contact</button>
</form>