<form>
    <fieldset>
        <button (click)="deleteContact()">Delete contact</button>
      <!--<div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert alert-danger">Tienes que introducir un nombre</div>-->
  
      <!-- Text input  NOMBRE-->
      <input id="name" name="name" type="text" placeholder="Nombre">
      <!--<div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert alert-danger">Tienes que introducir un nombre</div>-->
  
  
      <!-- Text input APELLIDO-->
      <input id="surname" name="surname" type="text" placeholder="Apellido">
      <!--<div *ngIf="complexForm.controls['surname'].hasError('required') && complexForm.controls['surname'].touched" class="alert alert-danger">Tienes que introducir un apellido</div>-->
  
  
      <!-- Text input TELEFONO-->
      <input id="phone" name="phone" type="tel" placeholder="Telefono">
      <!-- <div *ngIf="complexForm.controls['age'].hasError('required') && complexForm.controls['age'].touched" class="alert alert-danger">Tienes que introducir la edad</div>-->
  
  
      
      <button (click)="saveNewContact()">Save new contact</button>
      <button (click)="resetContact()">Cancel changes</button>
  
  
    </fieldset>
  </form>