
<div (click) = 'goDetail()'>
    <li> 
        <fieldset>
              <span></span>{{contact.firstName}},
              <span></span>{{contact.lastName}}
              <button (click) ='removeContact()'>Borrar</button>
        </fieldset>

    </li>
  </div>